/* Återställer standardmarginaler/padding och använder border-box för att inkludera padding i elementets storlek */
* {
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif /* Tungläst typsnitt */
}

/* Ställer in bakgrundsfärg, textfärg och textstil för hela sidan */
body {
  margin-left: 20%;
  margin-right: 20%;
  background: radial-gradient(circle, #add8e6, rgba(173, 216, 230, 0));
  width: 60%;
  color: #000000;
  font-size: 30px;
  line-height: 1.2em;
}

.content {
  background-color: white;
}

header {
width: 100%;
max-width: 100%;
padding: 10px;          
box-sizing: border-box;
background-color: #add8e6;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
 padding: 2rem;
}

.logo a {
  border: 0.2rem dotted #000000;
  padding: 0.5rem;
}

/* Navigeringsmeny med mörk bakgrund och jämnt fördelade element */
.navigation{
  display: flex;
  justify-content: center;
  }
  
  .navigation ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    font-size: 2rem;
    width: 90%;
  }
  
  .navigation li a:hover {
    color:#6c6c6c;
  }

  /* Input-fält i en container med kolumnlayout och flytande positionering */
.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 6rem;
}

/* Inputfält med röd text och svart ram */
.input-container input {
  font-size: 1.5rem;
  width: 40rem;
  height: 3rem;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
}

/* Knapp med rosa kant, mörkröd bakgrund och roterad */
.input-container button {
  font-size: 1rem;
  width: 5rem;
  height: 3rem;
  padding: 10px;
  margin-left: 0.3rem;
  cursor: pointer;
}

h1{
  font-size: 2rem;
  text-align: center;
}

/* Tar bort understrykning på länkar och ändrar färg */
a {
  color: #000000;
  text-decoration: none;
}

/* Artikel med prickad orange linje och en radial gradient som bakgrund */
.article {
  border-bottom: 0.2rem solid rgb(0, 0, 0);
  margin-bottom: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.article h2 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 7rem;
  font-weight: bold;
  font-size: 2.5rem;
}

.article p {
  text-align: justify;
  margin-left: 15rem;
  margin-right: 15rem;
  margin-bottom: 2rem;
}

#readMoreButton {
  background: none;
  font-size: 1.1rem;
  height: 3rem;
  width: 12rem;
  border-color: #000000;
}

.hidden {
  display: none;
}

#readMoreLink {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#readMoreLink:hover {
  text-decoration: underline;
}


/* Bilderna placeras i en rad, centrerar dem horisontellt och vertikalt och lägger till ett mellanrum mellan bilderna */
.image-container {
  max-width: 100%;
}

.image-container img {
height: 12rem;
}

/* En "fake ad" med blinkande bakgrund och fast position längst ner */
#fake-ad {
  background: black;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

/* Sektion med centrerad layout */
.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

