/* Återställer standardmarginaler/padding och använder border-box för att inkludera padding i elementets storlek */
* {
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif /* Tungläst typsnitt */
}

/* Ställer in bakgrundsfärg, textfärg och textstil för hela sidan */
body {
  margin-right: 15rem;
  margin-left: 15rem;
  background: #6c6c6c;
  width: 80%;
  color: #f5f5dc;
  font-size: 30px;
  line-height: 1.2em;
}

header {
  height: 200px;
  background-color: black;
}

.logo {
  font-size: 3rem;
}

h1{
  font-size: 2rem;
  text-align: center;
}

/* Tar bort understrykning på länkar och ändrar färg */
a {
  color: #f5f5dc;
  text-decoration: none;
}

/* Artikel med prickad orange linje och en radial gradient som bakgrund */
.article {
  border-bottom: 0.2rem solid rgb(253, 251, 251);
  margin-bottom: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.article h2 {
  text-align: center;
  margin: 4rem;
}

.article p {
  text-align: center;
  margin-left: 15rem;
  margin-right: 15rem;
  margin-bottom: 2rem;
}


/* Rubrik med stor text och mörkröd färg, justerad till höger */
.headline {
  font-size: 4rem;
  font-weight:normal;
  color: #060606;
  margin: 50px;
  padding: 20px;
}

/* Navigeringsmeny med mörk bakgrund och jämnt fördelade element */
.navigation ul {
  display: flex;
  list-style: none;
  justify-content: center;
  font-size: 40px;
}

/* Navigeringslänkar */
.navigation li {
  margin: 4rem 6rem 0rem 6rem;
}

.navigation li a:hover {
  color:#6c6c6c;
}

.hidden {
  display: none;
}

#readMoreLink {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#readMoreLink:hover {
  text-decoration: underline;
}


/* Bilderna placeras i en rad, centrerar dem horisontellt och vertikalt och lägger till ett mellanrum mellan bilderna */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

/* Definierar storleken på bilderna och gör att de täcker det angivna utrymmet utan att bli förvrängda  */
/*.image-container img {
  width: 15rem;
  height: 15rem; 
  object-fit: cover;
}*/

/* Input-fält i en container med kolumnlayout och flytande positionering */
.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

/* Inputfält med röd text och svart ram */
.input-container input {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  width: 30rem;
  height: 2.5rem;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
}

/* Knapp med rosa kant, mörkröd bakgrund och roterad */
.input-container button {
  border-radius: 0.5rem;
  font-size: 1rem;
  width: 5rem;
  height: 2.5rem;
  padding: 10px;
  cursor: pointer;
}

/* En "fake ad" med blinkande bakgrund och fast position längst ner */
#fake-ad {
  width: 30%;
  background: black;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

/* Sektion med centrerad layout */
.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Text med en hover-effekt som drastiskt krymper storleken */
.btext {
  font-size: 18px;
  padding: 10px 15px;
  margin-top: 10px;
  font-weight: bold;
}

/* På hover minskas texten kraftigt, nästan osynlig */
.btext:hover {
color: #6c6c6c;
}



